<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FreeSql" version="1.6.0-preview0611" targetFramework="net472" />
  <package id="FreeSql.Provider.Sqlite" version="1.5.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.113.1" targetFramework="net472" />
</packages>